.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-right: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 10px;
  max-width: 200px;
}

.product {
  display: flex;
  justify-content: center;
}

.product img {
  max-width: 50%;
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
}

button {
  margin-top: 20px;
}
